<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>1</key>
        <dict>
            <key>name</key>
            <string>1</string>
            <key>dec</key>
            <string>1</string>
            <key>loc</key>
            <string>1</string>
        </dict>
        <key>2</key>
        <dict>
            <key>name</key>
            <string>2</string>
            <key>dec</key>
            <string>2</string>
            <key>loc</key>
            <string>2</string>
        </dict>
        <key>3</key>
        <dict>
            <key>name</key>
            <string>3</string>
            <key>dec</key>
            <string>3</string>
            <key>loc</key>
            <string>3</string>
        </dict>
        <key>4</key>
        <dict>
            <key>name</key>
            <string>4</string>
            <key>dec</key>
            <string>4</string>
            <key>loc</key>
            <string>4</string>
        </dict>
        <key>5</key>
        <dict>
            <key>name</key>
            <string>5</string>
            <key>dec</key>
            <string>5</string>
            <key>loc</key>
            <string>5</string>
        </dict>
    </dict>
</plist>
